<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ff7f50">
{% include "index.html" %}
<h1 align="center">Agent Details Page</h1>&nbsp;
<a href="/agentcustomerreg/">Customer Details</a>&nbsp;
<a href="/agentcustomerpolicy/">Customer Policy Details</a>&nbsp;
<a href="/agentcustomermodification/">Customer Details Modification</a>&nbsp;
<a href="//"> Delete Customer Policy Details</a>
<a href="//"> View All  Policy Details</a>
</body>
</html>