<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#f0f8ff">
{% include "index.html" %}
<a href="/adminorg/">Organsiation Registration</a> &nbsp
<a href="/adminbranch/">Branch Registration</a> &nbsp;&nbsp
<a href="/adminorgmodifi/">Organsiation Modification</a> &nbsp&nbsp;
<a href="/adminagent/">Agent Details</a> &nbsp;&nbsp
<a href="/adminagent/">Agent Modifications</a> &nbsp&nbsp;
<a href="/admindelete/">Delete</a>  &nbsp
<a href="//">view All policy Details</a>  &nbsp
</body>
</html>