<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1 align="center">Company Officals Registration</h1>
<body bgcolor="white">
{% include "index.html" %}
<a href="/companyorgreg/">Organisation Registration</a> &nbsp;
<a href="/companypolicyreg/">Policy Registration</a> &nbsp;
<a href="/companypolicyviewdetails/">View Policy Details</a> &nbsp;
<a href="/companyagentreg/">Agent Registration</a> &nbsp;
<a href="/companyagentmodification/">Agent Modification</a> &nbsp;
<a href="/companycustomereg/">Customer Registration</a> &nbsp;
<a href="//">View All Policy Details</a> &nbsp;
</body>
</html>