<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <img src="{% static 'images (4).jpg' %}" width="200" height="150">
    <marquee>Insurance Magement system</marquee>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load staticfiles %}
<link  href="{% static 'css/cssLogin.css' %}" rel="stylesheet">


<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/adminlogin/">Admin Login</a>
  <a href="/companyofficals/">Company Officals</a>
  <a href="/agentlogin/">Agent</a>
  <a href="/customerlogin/">Customer</a>
</div>
</body>
</html>